# Session 1
- Data Science and Machine Learning

## Data Types

- Integer
- Floats
- Strings
- Booleans
- Lists
- Tuples
- Sets
- Dictionaries

In [ ]:
# use help to find out methods available to a data type

# help(int)
# help(str)
# help(float
help(set)

## Integers
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [1]:
# Whole Numbers
100

100

In [2]:
type(11001)

int

## Float
The difference between floating points and integers is decimal points. Floating point number can be represented as “1.0”, and integer can be represented as “1”. It is accurate up to 15 decimal places.

In [3]:
1.0

1.0

In [ ]:
type(1.0)

## Basic Arithmetic
The basic arithmetic operations for real numbers are addition, subtraction, multiplication, and division

In [4]:
# Addition
100 + 100

200

In [5]:
type(120)

int

In [ ]:
2+2

In [6]:
# Subtraction
2-2

0

In [7]:
abs(10-20)

10

In [8]:
# Multiplication
20 * 20

400

In [9]:
100 * 2

200

In [10]:
# Division
10/5

2.0

In [11]:
250/3

83.33333333333333

In [12]:
type(250/3)

float

In [13]:
# Floor Division
10//6

1

In [14]:
100//30

3

In [15]:
# Modulo - To get the reminder
100%30

10

In [16]:
10%6

4

In [17]:
25//6

4

In [18]:
25%6

1

In [19]:
# Raised to Power
36**2

1296

In [20]:
84**2

7056

In [21]:
2**10

1024

In [22]:
# Square-root
1500**0.5

38.72983346207417

In [23]:
121**0.5

11.0

In [24]:
# Order of Operation - BODMAS
10 + (25 - 6) / 0.5 * 5

200.0

In [25]:
(10 + 25 - 6) / (0.5*5)

11.6

In [26]:
125**(1/3)

5.0

In [27]:
# Floats
type(0.5)

float

## Variable Assignment
Variables can store data of different types

In [50]:
# Busayo = 90

In [51]:
name = 'Busayo'
age = 22
acct_bal = 5000.41

In [31]:
type(name)

str

In [49]:
type(age)

int

In [57]:
age + Busayo

120

In [54]:
type(acct_bal)

float

In [47]:
name

'Busayo'

In [58]:
age * age

484

In [59]:
22 * 22

484

In [60]:
age ** age

341427877364219557396646723584

In [ ]:
#Dont start with a number
#Dont start with special characters
#NO SPACE

total_Cost = 1

In [61]:
dami = 100

In [62]:
dami

100

In [63]:
# Example
first_test = 5
second_test = 10.4
attendance = 2.6
exam = 55

total_score = first_test + second_test + attendance + exam

total_score

73.0

In [64]:
type(total_score)

float

In [67]:
PIN = input("Enter your Pin:")

Enter your Pin:1234

In [69]:
type(PIN)

str

In [66]:
# Student Calculator

first_test = int(input("What is your score for first test: "))
second_test = int(input("What is your score for second test: "))
attendance = int(input("What is your score for attendance: "))
exam = int(input("What is your score for exam: "))

total_score = first_test + second_test + attendance + exam

total_score

What is your score for first test: 110
What is your score for second test: 57
What is your score for attendance: 23
What is your score for exam: 115

305

## Strings
A String is a sequence of Unicode characters. In Python, String is called str. 
Strings are represented by using Double quotes or single quotes. 
If the strings are multiple, then it can be denoted by the use of triple quotes “”” or ”’. 
All the characters between the quotes are items of the string.

In [70]:
# Strings - Text
"hello world"

'hello world'

In [71]:
'hello world'

'hello world'

In [72]:
print("Hello World")

Hello World

In [73]:
type("Damilola")

str

In [75]:
"I'm a boy"

"I'm a boy"

In [76]:
'I\'m a boy'

"I'm a boy"

In [77]:
len("Ademola")

7

In [78]:
print("my name is \tEfemena")

my name is 	Efemena

In [79]:
print("My name is \nEfemena")

My name is
Efemena

In [80]:
#tags - tab, Next line
print("my name is \tEfemena")

print("My name is \nEfemena")

my name is 	Efemena
My name is
Efemena

In [81]:
name = "Chuka"

In [82]:
name

'Chuka'

In [11]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

full_name

What is your first name: Busayo
What is your last name: Olansebe

'Busayo Olansebe'

In [84]:
len(full_name)

15

## Indexing and Slicing
- Indexing: Indexing is used to obtain individual elements.
- Slicing: Slicing is used to obtain a sequence of elements.


Indexing starts from 0. Index 0 represents the first element in the sequence.
Negative indexing starts from -1. Index -1 represents the last element in the sequence.

In [92]:
full_name[0], full_name[1], full_name[2], full_name[3], full_name[4], full_name[5], full_name[6], full_name[7], full_name[8], full_name[9], full_name[10], full_name[11], full_name[12], full_name[13], full_name[14]

('B', 'u', 's', 'a', 'y', 'o', ' ', 'O', 'l', 'a', 'n', 's', 'e', 'b', 'e')

In [85]:
#Indexing
full_name[0]

'B'

In [86]:
full_name[5]

'o'

In [95]:
full_name[6]

' '

In [93]:
full_name[-3]

'e'

In [88]:
# Slicing
full_name

'Busayo Olansebe'

In [94]:
full_name[:]

'Busayo Olansebe'

In [97]:
full_name[7:15]

'Olansebe'

In [12]:
full_name[2:7:15]

's'

### [START : STOP : STEP]
     [0 : 14 : 2]

In [98]:
full_name[1:8]

'usayo O'

In [99]:
full_name[5:]

'o Olansebe'

In [100]:
full_name[0:4]

'Busa'

In [102]:
full_name[0], full_name[1], full_name[2], full_name[3], full_name[4], full_name[5], full_name[6], full_name[7], full_name[8], full_name[9], full_name[10], full_name[11], full_name[12], full_name[13], full_name[14]

('B', 'u', 's', 'a', 'y', 'o', ' ', 'O', 'l', 'a', 'n', 's', 'e', 'b', 'e')

In [101]:
full_name[0::5]

'Bon'

In [103]:
full_name[::-1]

'ebesnalO oyasuB'

In [105]:
full_name[0:7] + full_name[7:]

'Busayo Olansebe'

In [3]:
#built-in methods in strings
country = "ireland"

In [9]:
country.capitalize()

'Ireland'

In [8]:
country.capitalize()

'Ireland'

In [5]:
country.upper()

'IRELAND'

In [6]:
comment = "I love 10Alytics"

In [14]:
comment2 = "I-love-10Alytics"

In [15]:
comment.split()

['I', 'love', '10Alytics']

In [18]:
comment2.split()

['I-love-10Alytics']

In [19]:
comment2.split('-')

['I', 'love', '10Alytics']

## Print Formatting
There are several ways to present the output of a program, data can be printed in a human-readable form, or written to a file for future use, or even in some other specified form. Sometimes user often wants more control over the formatting of output than simply printing space-separated values. There are several ways to format output.

In [23]:
name = input('Enter your name:')
age = input('Enter your age:')

Enter your name:Adebisi
Enter your age:25

In [20]:
name = "Busayo"
age = 20

In [25]:
text = f"Thank you {name}, we have verified you are {age} years old"
text

'Thank you Adebisi, we have verified you are 25 years old'

In [27]:
# .format method
print("my name is {} and i am {} years old".format(name, age))

my name is Damilola and i am 20 years old

In [28]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

print("My first name is {} and my last name is {}. So my full name is {}".format(first_name, last_name, full_name))

What is your first name: Rereoluwa
What is your last name: Olansebe
My first name is Rereoluwa and my last name is Olansebe. So my full name is Rereoluwa Olansebe

In [37]:
first_name = input("What is your first name: ")
last_name = input("What is your last name: ")

full_name = first_name + " " + last_name

text2 = f"My first name is {first_name} and my last name is {last_name}. So my full name is {full_name}"

print(text2)

What is your first name: Oluwaseyifunmi
What is your last name: Olansebe
My first name is Oluwaseyifunmi and my last name is Olansebe. So my full name is Oluwaseyifunmi Olansebe

In [26]:
#Placeholder

name = "Damilola"
age = 20

print("my name is %s and i am %s years old" %(name, age))

my name is Damilola and i am 20 years old

In [38]:
#F-strings

name = "Damilola"
age = 20

print(f"my name is {name} and i am {age} years old")

my name is Damilola and i am 20 years old

## List
An ordered sequence of items is called List. It is a very flexible data type in Python. There is no need for the value in the list to be of the same data type. The List is the data type that is highly used data type in Python. List datatype is the most exclusive datatype in Python for containing versatile data. It can easily hold different types of data in Python.

In [47]:
lists = [20,'Joyce',[3.2, 4,'Dami'], {'key':'value'}]

In [48]:
lists

[20, 'Joyce', [3.2, 4, 'Dami'], {'key': 'value'}]

In [70]:
for i in lists:
    print(i, '-----', type(i))

20 ----- <class 'int'>
Joyce ----- <class 'str'>
[3.2, 4, 'Dami'] ----- <class 'list'>
{'key': 'value'} ----- <class 'dict'>

In [52]:
name = ["Dami", "Uche", "Jumoke", "Demola", "Adebisi"]

In [53]:
name[0::]

['Dami', 'Uche', 'Jumoke', 'Demola', 'Adebisi']

In [71]:
name

['Dami', 'Uche', 'Jumoke', 'Demola', 'Adebisi', 'Oreoluwa']

In [54]:
age = [1,2,3,4,5]

In [55]:
age

[1, 2, 3, 4, 5]

In [56]:
my_list = ["Yomi", 10, 10.5, "10Alytics", 100.2]

In [57]:
type(my_list)

list

In [58]:
len(my_list)

5

In [59]:
#Indexing and Slicing
my_list[0]

'Yomi'

In [60]:
my_list[4]

100.2

In [61]:
my_list[-1]

100.2

In [62]:
#Slicing
my_list[0::3]

['Yomi', '10Alytics']

In [63]:
my_list[1::3]

[10, 100.2]

In [64]:
name

['Dami', 'Uche', 'Jumoke', 'Demola', 'Adebisi']

In [76]:
age+name

[1,
 2,
 3,
 4,
 5,
 'Dami',
 'Uche',
 'Jumoke',
 'Demola',
 'Adebisi',
 'Oreoluwa',
 ['Chuka'],
 ['Chuka']]

In [77]:
[age]+[name]

[[1, 2, 3, 4, 5],
 ['Dami',
  'Uche',
  'Jumoke',
  'Demola',
  'Adebisi',
  'Oreoluwa',
  ['Chuka'],
  ['Chuka']]]

In [65]:
name_1 = name + ["Sodiq"]

name_1

['Dami', 'Uche', 'Jumoke', 'Demola', 'Adebisi', 'Sodiq']

In [66]:
name.append("Oreoluwa")

In [83]:
name

['Dami',
 'Uche',
 'Jumoke',
 'Demola',
 'Adebisi',
 'Oreoluwa',
 ['Chuka'],
 ['Chuka'],
 'Bayo',
 'Bayo']

In [74]:
name.append(["Chuka"])

In [78]:
name

['Dami',
 'Uche',
 'Jumoke',
 'Demola',
 'Adebisi',
 'Oreoluwa',
 ['Chuka'],
 ['Chuka']]

In [84]:
name.extend(['Bayo'])

In [85]:
name

['Dami',
 'Uche',
 'Jumoke',
 'Demola',
 'Adebisi',
 'Oreoluwa',
 ['Chuka'],
 ['Chuka'],
 'Bayo',
 'Bayo',
 'Bayo']

In [86]:
name.pop()

'Bayo'

In [ ]:
name.pop()

In [87]:
name.pop(0)

'Dami'

In [88]:
name

['Uche',
 'Jumoke',
 'Demola',
 'Adebisi',
 'Oreoluwa',
 ['Chuka'],
 ['Chuka'],
 'Bayo',
 'Bayo']

In [89]:
list_1 = [10, 1, 2, 3, 4, 20, 35]

In [90]:
list_1.reverse()

list_1

[35, 20, 4, 3, 2, 1, 10]

In [91]:
list_1.sort()

list_1

[1, 2, 3, 4, 10, 20, 35]

## Dictionaries
Dictionary is a type of python data type in which collections are unordered, and values are in pairs called key-value pairs. This type of data type is useful when there is a high volume of data. Braces {} (curly brackets) are used to define dictionaries data type in Python. A Pair in the dictionary data type is an item which is represented as key:value. The value and the key can be of any data type.

In [92]:
my_dict = {"key1": "Value1", "key2":"value2", "key3":"value3"}

In [100]:
my_dict

{'key1': 'Value1', 'key2': 'value2', 'key3': 'value3'}

In [94]:
my_dict["key2"]

'value2'

In [95]:
my_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [104]:
animal = {"dog":"Bingo", "cat":"Murphy", "Donkey":"Chris", "Lion": "Damilola"}

In [105]:
animal

{'dog': 'Bingo', 'cat': 'Murphy', 'Donkey': 'Chris', 'Lion': 'Damilola'}

In [106]:
animal["dog"]

'Bingo'

In [107]:
customer = {"name": "Chidozie", "age": 21, "address": "no 42 kowonleru Junction, Isale Eko", "Phone_no": "08055674125"}

In [108]:
customer["address"]

'no 42 kowonleru Junction, Isale Eko'

In [109]:
dist_1 = {"key1": 12.56, "Key2": [12, 35, 46], "Key3": ["Chidi", "Chuka", "Emeka"]}

In [110]:
dist_1["Key2"][2]

46

In [111]:
dt = {}

In [112]:
dt

{}

In [113]:
dt["name"] = "Michael"

In [114]:
dt["age"] = "55"

In [115]:
dt

{'name': 'Michael', 'age': '55'}

In [116]:
cost = {}

name = input("What is your name: ")
fixed_cost = int(input("What is your fixed cost: "))
variable_cost = int(input("What is your variable cost: "))

total_cost = fixed_cost + variable_cost

cost["name"] = name
cost["fixed_cost"] = fixed_cost
cost["variable_cost"] = variable_cost
cost["total_cost"] = total_cost

cost

What is your name: Mike
What is your fixed cost: 500
What is your variable cost: 400

{'name': 'Mike', 'fixed_cost': 500, 'variable_cost': 400, 'total_cost': 900}

In [118]:
cost["name"]

'Mike'

In [117]:
cost.keys()

dict_keys(['name', 'fixed_cost', 'variable_cost', 'total_cost'])

In [119]:
cost.values()

dict_values(['Mike', 500, 400, 900])

## Tuple
A Tuple is a sequence of items that are in order, and it is not possible to modify the Tuples. The main difference list and tuples are that tuple is immutable, which means it cannot be altered. Tuples are generally faster than the list data type in Python because it cannot be changed or modified like list datatype. The primary use of Tuples is to write-protect data. Tuples can be represented by using parentheses (), and commas are used to separate the items. 

Days of the week, Months of the year, DOB, etc

In [120]:
tup = (1,2,3,4,5)

In [121]:
tup

(1, 2, 3, 4, 5)

In [123]:
tup[0]

1

In [124]:
len(tup)

5

In [125]:
tup_1 = (1, 2.4, "Wale", "10Alytics", "Efe",1,1,1,1,1,1,1,1,1,1)

In [126]:
len(tup_1)

15

In [127]:
tup_1[-1]

1

## Set
The Collection of Unique items that are not in order is called Set. Braces {} are used to defined set and a comma is used to separate values. One will find that the items are unordered in a set data type.

Duplicates are eliminated in a set and set only keeps unique values. Operations like intersection and union can be performed on two sets.

In [128]:
a = {2,2,2,2,1,1,1,3,4,5,6,6,7,7,7}

In [129]:
a

{1, 2, 3, 4, 5, 6, 7}

In [130]:
name = set()

In [131]:
name

set()

In [132]:
name.add("Dami")

In [133]:
name.add("jumoke")

In [134]:
name.add("Yemi")

In [135]:
name

{'Dami', 'Yemi', 'jumoke'}

In [137]:
num = [1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,5,5,5,5,6,6,6,6,7,7,7,7,8,8,8,8,8]

In [138]:
num

[1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8]

In [139]:
st = set(num)

In [140]:
st

{1, 2, 3, 4, 5, 6, 7, 8}

## Booleans
There can be only two types of value in the Boolean data type of Python, and that is True or False.

In [141]:
type(1 == 1)

bool

In [142]:
type(False)

bool

In [144]:
1 == 1

True

In [143]:
10 >= 20

False

## Comparison Operators
Comparison operators are used to compare two values:

* == Equals to
* != Not Equals to
* #> Greater than
* #>= Greater than or equals to
* < Less than
* <= Less than of equals to
* ~ negation

In [145]:
10<=20

True

In [146]:
20 <= 20

True

In [147]:
10 != 100

True

## If, Elif, Else Statement
The Python if statement is same as it is with other programming languages. It executes a set of statements conditionally, based on the value of a logical expression.

In Python if .. else statement, if has two blocks, one following the expression and other following the else clause. 

The if-elif-else statement is used to conditionally execute a statement or a block of statements. Conditions can be true or false, execute one thing when the condition is true, something else when the condition is false.

name = Efemena

In [158]:
name

'Efemena'

In [160]:
name = input("What is your name: ")
age = int(input("What is your age: "))

if name == "Efemena" and age > 18 :
    print(f"Welcome to our kingdom {name}, with {age}")
else:
    print(f"You are not welcome here. Goodbye {name}")

What is your name: Efemena
What is your age: 15
You are not welcome here. Goodbye Efemena

Username = input("What is your name: ")
password = int(input("What is your password: "))

if Username == "Efemena" and password == 1234 
    print(f"Welcome to our kingdom {username}, with {password}")
else:
    print(" Username/Password in correct}")

In [166]:
name = input("What is your name: ")

if name == "Efemena":
    print(f"Welcome to our kingdom {name}")
elif name == "Ore":
    print(f"Welcome to our Palace {name}")
elif name == "Demola":
    print(f"Welcome to our Country {name}")
elif name == "Chidozie":
    print(f"Welcome to our Village {name}")
elif name == "Yomi":
    print(f"Welcome to our Home {name}")
else:
    print(f"You are not welcome here. Goodbye {name}")

What is your name: Ore
Welcome to our Palace Ore

In [167]:
name = input("What is your name: ")
f_test = int(input("What is the score for your first test: "))
s_test = int(input("What is the score for your second test: "))
attd = int(input("What is the score for your attendance: "))
exam = int(input("What is the score for your exam: "))

print("-------------------------------------------")

total_score = f_test + s_test + attd + exam

if total_score >= 70:
    grade = "A"
elif total_score >= 60:
    grade = "B"
elif total_score >= 50:
    grade = "C"
elif total_score >= 40:
    grade = "D"
else:
    grade = "F"

print(f"Hello {name}, Your total score is {total_score} and your grade is {grade}")

What is your name: BJ
What is the score for your first test: 30
What is the score for your second test: 20
What is the score for your attendance: 10
What is the score for your exam: 30
-------------------------------------------
Hello BJ, Your total score is 90 and your grade is A

Example

* customer type = Corporate and Retail
* amount = 

* corporate
* amt < 10000 = 20%
* amt < 40000 = 25%
* amt >100000 = 40%

* Retail
* amt < 10000 = 10%
* amt < 40000 = 15%
* amt >100000 = 30%

* print the amount
* print the discount
* print the amt - discount

In [168]:
cust_type = input("what type of customer are you: ")
amt = int(input("What is your total amount: "))


if cust_type == "Corporate":
    if amt <= 10000:
        discount = 0.2
    elif amt <= 40000:
        discount = 0.25
    else:
        discount = 0.4
        
if cust_type == "Retail":
    if amt <= 10000:
        discount = 0.1
    elif amt <= 40000:
        discount = 0.15
    else:
        discount = 0.3

t_amt = amt - (amt * discount)

print("---------------------------------")
print(f"You total amount is {amt}")
print(f"Based on your customer type and amount, your discout is {discount}")
print(f"Your total amount is {t_amt}")

what type of customer are you: Retail
What is your total amount: 3000
---------------------------------
You total amount is 3000
Based on your customer type and amount, your discout is 0.1
Your total amount is 2700.0

In [169]:
customerType = input("what type customer are you: ")
amount = int(input("whats your total amount: "))

if customerType == "corporate" and amount <= 10000:
    discount = 0.2
elif customerType == "corporate" and amount <= 40000:
    discount = 0.25
elif customerType == "corporate" and amount > 40000:
    discount = 0.4
    
if customerType == "retail" and amount <= 10000:
    discount = 0.1
elif customerType == "retail" and amount <= 40000:
    discount = 0.15
elif customerType == "retail" and amount > 40000:
    discount = 0.3


total_amt = amount - (amount * discount)
        
print("-----------------------------------")

print(f"total amount is {amount}")
print(f"based on your customer type and amount, your discount is {discount}")
print(f"total amount to be paid {total_amt}")

what type customer are you: corporate
whats your total amount: 5000
-----------------------------------
total amount is 5000
based on your customer type and amount, your discount is 0.2
total amount to be paid 4000.0

In [ ]:
print("efe /nmena")

## For Loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [170]:
list1 = [1,2,3,4,5]

In [171]:
list1

[1, 2, 3, 4, 5]

In [172]:
for num in list1:
    print(num)

1
2
3
4
5

In [173]:
# Print all even numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 0:
        print(f"{i} is an even number")

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

In [174]:
# Print all odd numbers

list1 = [1,2,3,4,5,6,7,8,9,10]

for i in list1:
    if i % 2 == 1:
        print(f"{i} is an odd number")

1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number

In [175]:
list1 = [1,2,3,4,5,6,7,8,9,10]
sum_list = 0

for i in list1:
    sum_list = sum_list + i
    print(sum_list)

1
3
6
10
15
21
28
36
45
55

In [176]:
for i in list1:
    print("10Alytics")

10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics
10Alytics

In [177]:
num_times = [1,2,3,4,5]
score = 0

print("Calculator")

for i in num_times:
    print(score)
    num = int(input("what is your score: "))
    score = score + num
    
    
    
print("-----------------------------")    
print(f"Your final score is {score}")

Calculator
0
what is your score: 20
20
what is your score: 5
25
what is your score: 10
35
what is your score: 10
45
what is your score: 10
-----------------------------
Your final score is 55

## While Loop
The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know the number of times to iterate beforehand.

In [ ]:
name = input("What is your name: ")

while name == "Efemena":
    print("10Alytics")
    name = input("What is your name: ")

In [ ]:
x = 0

while x < 10:
    print(f"{x} is currently less than 10")
    x = x + 1

In [ ]:
answer = "yes"

while answer == "yes":
    name = input("What is your name: ")
    question = input("What training are you interested in: ")
    print("-------------------------------")
    print(f"hello {name}")
    print(f"The training on {question} will commence shortly")
    
    answer = input("Do you want to continue: yes/no")
    
print("Goodbye")

## Function
In Python, a function is a group of related statements that performs a specific task.

Functions help break our program into smaller and modular chunks. As our program grows larger and larger, functions make it more organized and manageable.

Furthermore, it avoids repetition and makes the code reusable.

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
sum(list1)

In [ ]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (docstring) goes.
    When you call help() on your function it will be printed out.
    '''
    # Do stuff here
    # Return desired result

In [ ]:
def greeting():
    print("hello")

In [ ]:
greeting()

In [ ]:
def greeting():
    name = input("What is your name: ")
    print(f"Hello {name}")

In [ ]:
greeting()

In [ ]:
def addition():
    num = 0
    for i in range(3):
        num_1 = float(input("Enter a number: "))
        num += num_1
    print("-------")
    return print(f"Your total is: {num}")

In [ ]:
addition()

In [ ]:
def sqr(x):
    num = x ** 2
    return num

In [ ]:
sqr(100)

In [ ]:
# Convert any username into a lower case

def convert(name):
    user = name.lower()
    return user

In [ ]:
convert("EFEMENA")

In [ ]:
def convert():
    name = input("what is your name: ")
    user = name.lower()
    return user

In [ ]:
convert()

In [ ]:
def ans():
    answer = "yes"

    while answer == "yes":
        name = input("What is your name: ")
        question = input("What training are you interested in: ")
        print("-------------------------------")
        print(f"hello {name}")
        print(f"The training on {question} will commence shortly")
    
        answer = input("Do you want to continue: yes/no: ")
    
    print("Goodbye")

In [ ]:
ans()

In [ ]:
# Guess game

from random import shuffle

list_1 = list(range(1,5))

def game():
    print("You have 5 trials")
    print("----------------------------")
    for i in range(5):
        shuffle(list_1)
        guess = list_1[3]
        num = int(input("What is your lucky number: "))
        if guess == num:
            print("You are the WINNER!!!")
        else:
            print("JAPA")
            
    return print("You are done")

In [ ]:
game()

In [ ]:
def total_cost(fixed_cost, variable_cost, mixed_cost):
    tc = fixed_cost + variable_cost + mixed_cost
    return tc

In [ ]:
total_cost(10,50,100)

### Map Function
Mapping consists of applying a transformation function to an iterable to produce a new iterable. Items in the new iterable are produced by calling the transformation function on each item in the original iterable.

In [ ]:
def sqr(x):
    num = x ** 2
    return num

In [ ]:
num = list(range(1,11))
num

In [ ]:
list(map(sqr, num))

In [ ]:
def grade(x):
    if x >= 70:
        result = "A"
    elif x >= 60:
        result = "B"
    elif x >= 50:
        result = "C"
    else:
        result = "F"
        
    return result

In [ ]:
score = [50, 72, 45, 20, 63, 60]

In [ ]:
list(map(grade, score))

In [ ]:
for i in score:
    print(f'{i} is equivalent to {grade(i)}')

In [ ]:
# if the length of your name is an even number return Yes else No

name = ["Damilola", "Michael", "Demola", "Jumoke", "Jay", "Chidozie"]

def even_odd(names):
    if len(names) % 2 == 0:
        category =  "Even"
    else:
         category = "Odd"
    
    return category

In [ ]:
list(map(even_odd, name))

### Filter Function
Filtering consists of applying a predicate or Boolean-valued function to an iterable to generate a new iterable. Items in the new iterable are produced by filtering out any items in the original iterable that make the predicate function return false.

In [ ]:
name = ["Damilola", "Michael", "Demola", "Jumoke", "Jay", "Chidozie"]

def even_odd(x):
    if len(x) % 2 == 0:
        return x

In [ ]:
list(filter(even_odd, name))

In [ ]:
english = list(range(1, 21))
english

In [ ]:
def even(x):
    if x % 2 == 0:
        return x

In [ ]:
list(filter(even, english))

### Lambda Expressions
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
x = lambda a: a + 10
print(x(10))

In [ ]:
num = lambda a, b, c: a*b-c
print(num(10, 5, 3))